<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body class="w-full h-screen p-4">
    <div id="wrapper" class="w-full min-h-full flex flex-col">
      <%- include('../partials/header') %> <%- include('../partials/navigation')
      %>

      <main><%- body %></main>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
