<% if (title) { %>
<h1 class="class-heading"><%= title %></h1>
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>
<div class="login-wrapper">
  <form class="login-form" id="deleteForm" action="/inv/delete" method="post">
    <div class="form-group">
      <label for="inv_make">Make</label>
      <input
        readonly
        type="text"
        id="inv_make"
        name="inv_make"
        class="form-control"
        value="<%= locals.inv_make %>"
        required
        placeholder="Min of 3 characters."
        title="Min of 3 characters."
      />
    </div>
    <div class="form-group">
      <label for="inv_model">Model</label>
      <input
        type="text"
        readonly
        id="inv_model"
        name="inv_model"
        class="form-control"
        required
        placeholder="Min of 3 characters."
        title="Min of 3 characters."
        value="<%= locals.inv_model %>"
      />
    </div>
    <div class="form-group">
      <label for="inv_year">Year</label>
      <input
        type="number"
        id="inv_year"
        readonly
        name="inv_year"
        class="form-control"
        required
        maxlength="4"
        min="1900"
        value="<%= locals.inv_year %>"
        placeholder="4 digits only."
        title="4 digits only."
      />
    </div>
    <div class="form-group">
      <label for="inv_price">Price</label>
      <input
        type="number"
        id="inv_price"
        name="inv_price"
        readonly
        class="form-control"
        value="<%= locals.inv_price %>"
        placeholder="decimal or integer."
        required
        min="0"
      />
    </div>

    <input type="hidden" name="inv_id" value="<%= locals.inv_id %>" />
    <p>Confirm Deletion - The delete is permanent.</p>

    <button type="submit" class="btn btn-primary">Delete Vehicle</button>
  </form>
</div>
<% } else { res.redirect('/') } %>
